body {
    font-family: 'karla';
    font-size: 14px;
}

::-moz-selection {
    color: #000;
    background: #ede2de;
}

::selection {
    color: #000;
    background: #ede2de;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke
}

.menu h1{
    color: whitesmoke;
}

.menu a {
    color: whitesmoke;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.origami {
    margin: 10px;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 310px;
}